.skills__card {
  height: 16rem;
  width: 16rem;
  margin: 1.5rem;
  background-color: var(--bg-color-light);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills__card-icon {
  color: var(--color-secondary);
  font-size: var(--fs-xxl);
}

.skills__subheading {
  margin: 0.5rem 1.5rem 0 1.5rem;
  font-size: var(--fs-m);
}
