.skills {
  min-height: 80vh;
  width: 100%;
  padding: 1.5rem;
  background: url("../../images/clouds-6343949.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__wrapper {
  width: 100%;
  max-width: 90rem;
  margin-bottom: 3rem;
}

.skills__heading {
  margin: 3rem 0;
  font-size: var(--fs-l);
  color: var(--color-primary-light);
  text-align: center;
}

.skills__display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills__card {
  height: 16rem;
  width: 16rem;
  margin: 1.5rem;
  background-color: var(--bg-color-light);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills__card-icon {
  color: var(--color-secondary);
  font-size: var(--fs-xxl);
}

.skills__subheading {
  margin-top: 0.5rem;
  font-size: var(--fs-m);
}
