:root {
  --color-primary: #1e8dae;
  --color-primary-light: #d3eff8;
  --color-primary-dark: hsl(195, 73%, 10%);
  --color-secondary: #b25785;
  --color-secondary-light: #cf96b3;
  --color-secondary-dark: hsl(330, 37%, 30%);
  --bg-color-light: #f6fcfecc;

  --fs-s: 1.6rem;
  --fs-m: 2.4rem;
  --fs-l: 3rem;
  --fs-xl: 4rem;
  --fs-xxl: 5rem;

  --box-shadow: 1px 3px 6px rgba(7, 35, 44, 0.4);
  --border-radius: 1.6rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Cabin", sans-serif;
  line-height: 1.5;
  color: var(--color-primary-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
  font-weight: 500;
}

@media (min-width: 56.25em) {
  :root {
    --fs-l: 4rem;
  }
}
