.about {
  min-height: 70vh;
  width: 100%;
  background-color: var(--color-primary-dark);
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__wrapper {
  width: calc(100% - 3rem);
  max-width: 60rem;
  margin: 6rem auto;
  max-width: 50rem;
}

.about__heading {
  color: var(--color-primary-light);
  font-size: var(--fs-l);
  margin: 3rem 0;
}

.about__content {
  color: var(--color-primary-light);
  font-size: var(--fs-s);
  margin-bottom: 1.5rem;
}

.about__highlight {
  color: var(--color-secondary);
}
