.wrapper {
  height: 150px;
  width: 100%;
  overflow: hidden;
}

.svg {
  height: 100%;
  width: 100%;
}

.path-dark {
  stroke: none;
  fill: var(--color-primary-dark);
}

.path-light-p {
  stroke: none;
  fill: var(--color-primary-light);
}

.path-light-s {
  stroke: none;
  fill: var(--color-secondary-light);
}
