footer {
  width: 100%;
  min-height: 10vh;
  padding-bottom: 1.5rem;
  background-color: var(--color-secondary-light);
  color: var(--color-secondary-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__social {
  width: 100%;
  max-width: 10rem;
  display: flex;
  justify-content: space-around;
}

.footer__social a {
  color: inherit;
  cursor: pointer;
}

.footer__icon {
  font-size: var(--fs-l);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.footer__icon:hover {
  transform: translateY(-0.2rem);
  -webkit-transform: translateY(-0.2rem);
  -moz-transform: translateY(-0.2rem);
  -ms-transform: translateY(-0.2rem);
  -o-transform: translateY(-0.2rem);
}

.footer__copyright {
  font-size: var(--fs-s);
  margin: 1.5rem 0;
}
